/*  your css code here. If applicable */
*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	font-family:arial;
}
body{
	background-color:#f5f5f5;
}
.header>h1{
	 background-color:#011e29;
	text-align:center;
	padding:20px;
	color:white;
}
.main{
	display:flex;
	padding:10px 20px;
	justify-content:space-evenly;
}
.item{
	height:90px;
	widht:50px;
	margin:10px;
}
.main-article{
	display:flex;
	flex-direction:column;
	text-align:center;
	border:2px solid white;
	border-radius:20px;
	height:200px;
	flex:3;
	background-color:white;
	display:flex;
	flex-direction:column;
	margin-right:5px;
	padding:5px 5px;
}
.main-article>h2{
	padding:20px;
}
.latest-news-section{
	border:2px solid white;
	border-radius:20px;
	flex:1;
	padding:30px;
	height:150px;
	background-color:white;
	display:flex;
	flex-direction:column;
	margin-right:5px;
}

.pictorial-news-section{
	border:2px solid white;
	border-radius:20px;
	flex:1;
	height:400px;
	background-color:white;
	display:flex;
	flex-direction:column;
	text-align:center;
}
.pictorial-news-section>h3{
	font-weight:700px;
	margin:20px;
}
